@charset "utf-8";

body { 
position: relative;
width: 100%;
overflow-x: hidden;
}

div { 
min-width:  800px; 
}
.main-menu {
margin-top:-0.5%;	
background:#D43737;
height: auto;  	 
}

.main-menu li {	
display: inline-block;	  
}

.Game-Name {
text-decoration: none;
display: inline-block;
margin-right: 100px;
margin-left: -20%;	 
}

.main-menu a {	
margin-left:-6px;
display: inline-block; 
background:#FF4444;
border-right: 2px solid #e5e5e5;	 
border-left: 2px solid #e5e5e5;	 
text-decoration: none;
font-family: arial;
line-height:50px;
color:#fff;
padding:20px 50px 20px 50px;
}

.main-menu a:hover {
background: #E16060 ;	
}


.background-picture{
margin-top:-0.9%;
margin-left:-0.9%;
height: auto; 
position:relative;
}

.button{
margin-left:44.7%;
margin-top:-32%;
}

.button a{
color: #fff; 
font-family: arial;
line-height:50px;
text-decoration: none;	
background: rgb(0,0,0); 
padding:50px;
border: 5px solid #CCA5D1; 
border-radius: 160px 160px 160px 160px;
opacity:0.5;		
}

.button a:hover { 
background: rgb(232,95,76); 
}

.button a:active { 
background: rgb(152,15,0);
} 

.main-block-picture{
margin-top:-0.9%;
margin-left:-0.9%;
display: block;
height: auto;  	         
}

.text-with-picture
{
margin-left:25%;
height: auto; 
width: 50%;
}

#Start:active { 
background: rgb(232,95,76);
} 

.List {
counter-reset: li; 
list-style: none; 
font: 14px "Trebuchet MS", "Lucida Sans";
padding-top:20em;
display: block;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.List a {
position: relative;
display: block;
padding: .8em .4em .4em 2em;
margin: .9em 8em;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .9em;
transition: .3s ease-out;
}
.List a:hover {background: #E9E4E0;}

.List a:hover:before {transform: rotate(360deg);}

.List a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #8FD4C1;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}

.Top-List{
height: 1000px; 
width: 100%;
margin-top:-0.9%;
margin-left:-0.9%;
padding-left:17px;
display: block; 
background:url(../images/41.jpg);
}

.Start{
background:#710D0A;
}

.About{
background:#710D0A;
}

.Main{
background:#710D0A;
}

.Top-List{
background:#710D0A;
}

